body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.top-page {
    background-color: rgb(180,161,235);
}

.titles {
    font-size: 32px;
    font-weight: bold;
}

.header {
    color: White;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
}
.logo {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-links {
    display: flex;
    gap: 32px;
    font-weight: bold;
}

.top-block {
    background-color: rgb(180,161,235);
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 36px 10%;
    max-height: 40vh;
}

.top-block img {
    display: flex;
    flex-direction: column;
    border: 2px dotted white;
    flex-basis: 500px;
    height: auto;
    max-width: 50%;
    flex-shrink: 1;
}
.top-block-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 0;
    padding: 0;
    flex: 1;
}
.top-block button {
    max-width: 120px;
    height: auto;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    background-color: rgb(209,200,237);
    font-weight: 600;
}

.second-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 10%;
    gap: 16px;
}
.photo-block {
    display: flex;
    gap: 32px;
}
.screenshots {
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    flex-basis: 15vw;
    text-align: center;
    gap: 8px;
    flex-shrink: 1;
}
.screenshots img {
    border: 5px solid gray;
    border-radius: 5px;
}

.creator-comment-block {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 64px 20%;
    font-size: 20px;
    font-style: italic;
    flex-basis: 10vh;
    align-items: center;
}

.creator-comment-block .signature {
    font-weight: bold;
    align-self: flex-end;
}

.bottom-block {
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209,200,237);
    padding: 30px;
    gap: 10vh;
    border-radius: 5px;
}

.bottom-block-text {
    display: flex;
    flex-direction: column;
    color: white;
}
.bottom-block button {
    background-color: rgb(209,200,237);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(180,161,235);
    padding: 20px;
}