body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.top-page {
    background-color: rgb(233, 76, 233);
}

.titles {
    font-size: 32px;
    font-weight: bold;
}

.header {
    color: White;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.header-links {
    display: flex;
    gap: 16px;
    font-weight: bold;
}

.top-block {
    background-color: rgb(233, 76, 233);
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 16px 10%;
    max-height: 350px;
}

.top-block img {
    border: 2px dotted white;
    flex-basis: 700px;
    height: auto;
    max-width: 50%;
    flex-shrink: 2;
}
.top-block-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 0;
    padding: 0;
    flex: 1;
}
.top-block button {
    max-width: 100px;
    height: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.second-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 10%;
    gap: 16px;
}
.photo-block {
    display: flex;
    gap: 32px;
}
.screenshots {
    display: flex;
    flex-direction: column;
    max-width: 175px;
    height: auto;
    text-align: center;
    gap: 8px;
}
.screenshots img {
    border: 5px solid gray;
    border-radius: 5px;
}

.creator-comment-block {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 64px 20%;
    font-size: 20px;
    font-style: italic;
}

.creator-comment-block .signature {
    font-weight: bold;
    align-self: flex-end;
}