body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.top-page {
    background-color: rgb(233, 76, 233);
}

.header {
    color: White;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.header-links {
    display: flex;
    gap: 16px;
    font-weight: bold;
}

.page-info {
    background-color: rgb(233, 76, 233);
    display: flex;
}